{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/base/about.css' %}">
{% endblock %}

{% block main %}
<div class="grid-container">
<h1 class="text-center">版本历史</h1>
<ul class="list-group">
  <li class="list-group-item">2018.11.11 1.0版上线</li>
  <li class="list-group-item">2018.11.14 1.01版 增加非合同付款功能</li>
  <li class="list-group-item">2019.05.5 1.1版添加多个公司的支持</li>
  <li class="list-group-item">2019.05.4 1.2版添加添加增值税录入和显示功能</li>
  <li class="list-group-item">2019.05.5 1.3版添加能够在付款的时候录入预付和应付性质, 并且计算开发成本的功能, 添加后台印花税录入功能</li>
</ul>
</div>
{% endblock %}